In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Model Base

## Minibatch 64

In [3]:
ddp_2 = pd.read_csv("../log/rank_0_synch_ddp_2_minibatch_64_vit-base-patch16-224-in21k_model.csv")
ddp_4 = pd.read_csv("../log/rank_0_synch_ddp_4_minibatch_64_vit-base-patch16-224-in21k_model.csv")

ddp_2["minibatch_time"] = ddp_2["forward_time"] + ddp_2["backward_time"]
ddp_4["minibatch_time"] = ddp_4["forward_time"] + ddp_4["backward_time"]

In [4]:
ddp_2.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,1421.0,1421.000000,1421.000000,1421.000000,1421.000000,1421.000000,1421.000000
mean,0.0,394.111189,1.034439,1.380870,2.135535,8516.098110,3.516405
std,0.0,261.787104,1.137002,0.075289,1.517328,278.796796,1.576575
min,0.0,0.000000,0.000000,0.666356,0.000000,5928.234375,0.666356
25%,0.0,177.000000,0.000000,1.308808,0.000000,8222.597656,1.308861
50%,0.0,355.000000,0.809096,1.403032,3.184563,8568.390625,4.591245
75%,0.0,591.000000,1.378837,1.419383,3.191450,8717.449219,4.610561
max,0.0,946.000000,4.645350,2.764896,8.043108,9544.792969,10.808004

In [5]:
ddp_4.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,1894.0,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000
mean,0.0,473.000000,0.785428,0.726571,2.251860,5302.743794,2.978431
std,0.0,273.447397,1.090404,0.034368,2.254944,76.864647,2.271459
min,0.0,0.000000,0.000000,0.672698,0.000000,3413.285156,0.679835
25%,0.0,236.250000,0.000000,0.709971,0.000000,5283.523438,0.710627
50%,0.0,473.000000,0.235055,0.720086,2.221266,5284.464844,2.990296
75%,0.0,709.750000,1.201612,0.738889,4.489821,5323.149414,5.229389
max,0.0,946.000000,4.580988,1.604820,8.879420,5626.480469,10.484240

## Minibatch 128

In [6]:
ddp_2 = pd.read_csv("../log/rank_0_synch_ddp_2_minibatch_128_vit-base-patch16-224-in21k_model.csv")
ddp_4 = pd.read_csv("../log/rank_0_synch_ddp_4_minibatch_128_vit-base-patch16-224-in21k_model.csv")

ddp_2["minibatch_time"] = ddp_2["forward_time"] + ddp_2["backward_time"]
ddp_4["minibatch_time"] = ddp_4["forward_time"] + ddp_4["backward_time"]

In [7]:
ddp_2.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,711.0,711.000000,711.000000,711.000000,711.000000,711.000000,711.000000
mean,0.0,197.000000,1.294915,2.760564,3.781433,9042.360056,6.541997
std,0.0,131.098587,1.283299,0.097477,2.684819,1999.182596,2.711378
min,0.0,0.000000,0.000000,1.562769,0.000000,6224.601562,2.033912
25%,0.0,88.500000,0.000000,2.733753,0.000000,6225.009766,2.736662
50%,0.0,177.000000,1.045572,2.760033,5.603079,10438.894531,8.366412
75%,0.0,295.500000,1.949863,2.774422,5.676349,10466.142578,8.447780
max,0.0,473.000000,4.628050,4.705650,10.529380,10554.632812,15.235030

In [8]:
ddp_4.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,948.0,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000
mean,0.0,236.500000,0.972484,1.382875,2.314043,8427.999357,3.696918
std,0.0,136.903935,1.249597,0.087899,2.323834,362.838239,2.384541
min,0.0,0.000000,0.000000,0.661393,0.000000,5916.949219,0.691928
25%,0.0,118.000000,0.000000,1.330649,0.000000,8096.742188,1.330772
50%,0.0,236.500000,0.564575,1.393425,2.234350,8096.750000,3.444342
75%,0.0,355.000000,1.489472,1.431979,4.595464,8760.267578,6.036116
max,0.0,473.000000,4.626504,2.599953,10.607540,9257.621094,13.207493

## Minibatch 256

In [9]:
ddp_2 = pd.read_csv("../log/rank_0_synch_ddp_2_minibatch_256_vit-base-patch16-224-in21k_model.csv")
ddp_4 = pd.read_csv("../log/rank_0_synch_ddp_4_minibatch_256_vit-base-patch16-224-in21k_model.csv")
ddp_8 = pd.read_csv("../log/rank_0_synch_ddp_8_minibatch_256_vit-base-patch16-224-in21k_model.csv")

ddp_2["minibatch_time"] = ddp_2["forward_time"] + ddp_2["backward_time"]
ddp_4["minibatch_time"] = ddp_4["forward_time"] + ddp_4["backward_time"]
ddp_8["minibatch_time"] = ddp_8["forward_time"] + ddp_8["backward_time"]

In [10]:
ddp_2.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,356.0,356.000000,356.000000,356.000000,356.000000,356.000000,356.000000
mean,0.0,98.278090,1.694516,5.151135,6.798980,12911.320082,11.950115
std,0.0,65.553107,1.450798,0.251846,4.832229,7171.699349,4.856406
min,0.0,0.000000,0.000000,2.051124,0.000000,2806.222656,2.051124
25%,0.0,44.000000,0.000000,5.114828,0.000000,2812.341797,5.159349
50%,0.0,88.500000,1.652034,5.138687,10.112858,18018.259766,15.232625
75%,0.0,147.250000,2.772642,5.153080,10.223321,18027.584961,15.358260
max,0.0,236.000000,4.612312,8.047204,14.179366,18054.128906,22.226570

In [11]:
ddp_4.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,474.0,474.00000,474.000000,474.000000,474.000000,474.000000,474.000000
mean,0.0,118.00000,1.260616,2.709588,2.953252,9352.022795,5.662840
std,0.0,68.48768,1.442017,0.091260,2.974911,1021.170473,2.995040
min,0.0,0.00000,0.000000,1.952397,0.000000,8335.542969,1.952397
25%,0.0,59.00000,0.000000,2.690236,0.000000,8336.089844,2.693096
50%,0.0,118.00000,0.974964,2.704369,2.420910,8505.679688,4.954767
75%,0.0,177.00000,2.283841,2.719240,5.849707,10386.513672,8.567017
max,0.0,236.00000,4.603352,4.182779,12.755499,10477.656250,16.938279

In [12]:
ddp_8.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,711.0,711.000000,711.000000,711.000000,711.000000,711.000000,711.000000
mean,0.0,197.000000,0.852872,1.399743,1.831337,8677.602876,3.231080
std,0.0,131.098587,1.329648,0.068291,2.620292,195.747438,2.628267
min,0.0,0.000000,0.000000,0.697195,0.000000,5948.218750,0.697195
25%,0.0,88.500000,0.000000,1.381595,0.000000,8613.000000,1.388095
50%,0.0,177.000000,0.000000,1.391079,0.000000,8613.457031,1.421340
75%,0.0,295.500000,1.694007,1.413083,5.402846,8661.367188,6.798167
max,0.0,473.000000,4.605924,2.627477,15.668423,10151.796875,18.295900

# Model Large

## Minibatch 64

In [13]:
ddp_2 = pd.read_csv("../log/rank_0_synch_ddp_2_minibatch_64_vit-large-patch16-224-in21k_model.csv")
ddp_4 = pd.read_csv("../log/rank_0_synch_ddp_4_minibatch_64_vit-large-patch16-224-in21k_model.csv")

ddp_2["minibatch_time"] = ddp_2["forward_time"] + ddp_2["backward_time"]
ddp_4["minibatch_time"] = ddp_4["forward_time"] + ddp_4["backward_time"]

In [14]:
ddp_2.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,1421.0,1421.000000,1421.000000,1421.000000,1421.000000,1421.000000,1421.000000
mean,0.0,394.111189,0.642709,4.484461,7.225555,22542.046782,11.710016
std,0.0,261.787104,0.684207,0.123719,5.124121,356.502625,5.217221
min,0.0,0.000000,0.000000,2.277452,0.000000,14915.394531,2.277452
25%,0.0,177.000000,0.000000,4.413077,0.000000,22373.113281,4.413672
50%,0.0,355.000000,0.625002,4.527941,10.764064,22442.832031,15.312623
75%,0.0,591.000000,0.932749,4.551896,10.820824,22692.484375,15.372998
max,0.0,946.000000,4.641535,6.109727,22.424093,26630.656250,28.533820

In [15]:
ddp_4.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,1894.0,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000
mean,0.0,473.000000,0.498517,2.267070,7.865672,14311.998969,10.132742
std,0.0,273.447397,0.687783,0.085240,7.871627,198.214338,7.944954
min,0.0,0.000000,0.000000,1.957161,0.000000,8457.152344,1.957161
25%,0.0,236.250000,0.000000,2.194937,0.000000,14288.363281,2.195123
50%,0.0,473.000000,0.173811,2.280645,7.816755,14288.371094,10.068864
75%,0.0,709.750000,0.857070,2.327441,15.705662,14327.091797,18.049941
max,0.0,946.000000,4.581965,3.583461,26.286566,15994.468750,29.870028

## Minibatch 128

In [16]:
ddp_2 = pd.read_csv("../log/rank_0_synch_ddp_2_minibatch_128_vit-large-patch16-224-in21k_model.csv")
ddp_4 = pd.read_csv("../log/rank_0_synch_ddp_4_minibatch_128_vit-large-patch16-224-in21k_model.csv")

ddp_2["minibatch_time"] = ddp_2["forward_time"] + ddp_2["backward_time"]
ddp_4["minibatch_time"] = ddp_4["forward_time"] + ddp_4["backward_time"]

In [17]:
ddp_2.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,711.0,711.000000,711.000000,711.000000,711.000000,711.000000,711.000000
mean,0.0,197.000000,0.669167,9.743592,13.654026,23219.197746,23.397618
std,0.0,131.098587,0.741963,0.263060,9.683510,5237.369602,9.769733
min,0.0,0.000000,0.000000,4.214372,0.000000,15838.433594,6.677575
25%,0.0,88.500000,0.000000,9.675239,0.000000,15838.800781,9.676114
50%,0.0,177.000000,0.652822,9.773798,20.218182,26893.175781,30.019827
75%,0.0,295.500000,0.888701,9.812200,20.584093,26956.464844,30.379870
max,0.0,473.000000,4.638955,11.786717,33.116829,27055.980469,44.903546

In [18]:
ddp_4.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,948.0,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000
mean,0.0,236.500000,0.501497,4.532394,7.924602,22091.580358,12.456996
std,0.0,136.903935,0.716608,0.166632,7.943403,500.422651,8.039384
min,0.0,0.000000,0.000000,2.113426,0.000000,11814.265625,2.124793
25%,0.0,118.000000,0.000000,4.458793,0.000000,22032.960938,4.459654
50%,0.0,236.500000,0.265982,4.556607,7.862787,22033.015625,11.265361
75%,0.0,355.000000,0.808643,4.617773,15.803756,22098.030273,20.435022
max,0.0,473.000000,4.612364,6.444641,30.606289,25863.601562,37.050931

## Minibatch 256

In [19]:
ddp_2 = pd.read_csv("../log/rank_0_synch_ddp_2_minibatch_256_vit-large-patch16-224-in21k_model.csv")
ddp_4 = pd.read_csv("../log/rank_0_synch_ddp_4_minibatch_256_vit-large-patch16-224-in21k_model.csv")
ddp_8 = pd.read_csv("../log/rank_0_synch_ddp_8_minibatch_256_vit-large-patch16-224-in21k_model.csv")

ddp_2["minibatch_time"] = ddp_2["forward_time"] + ddp_2["backward_time"]
ddp_4["minibatch_time"] = ddp_4["forward_time"] + ddp_4["backward_time"]
ddp_8["minibatch_time"] = ddp_8["forward_time"] + ddp_8["backward_time"]

In [20]:
ddp_2.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,356.0,356.000000,356.000000,356.000000,356.000000,356.000000,356.000000
mean,0.0,98.278090,0.718101,18.767278,25.735522,33982.577302,44.502800
std,0.0,65.553107,0.840813,0.729884,18.296585,18914.957434,18.232054
min,0.0,0.000000,0.000000,6.678788,0.000000,7270.488281,6.678788
25%,0.0,44.000000,0.000000,18.646970,0.000000,7343.710938,19.082766
50%,0.0,88.500000,0.649674,18.810960,37.925647,47393.113281,56.610016
75%,0.0,147.250000,0.853400,18.936862,38.498730,47421.344727,57.298877
max,0.0,236.000000,4.621063,20.252036,50.179415,47730.367188,70.431451

In [21]:
ddp_4.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,474.0,474.00000,474.000000,474.000000,474.000000,474.000000,474.000000
mean,0.0,118.00000,0.541999,9.489885,10.465308,17347.924578,19.955194
std,0.0,68.48768,0.797342,0.194559,10.521039,9744.178831,10.530174
min,0.0,0.00000,0.000000,6.830361,0.000000,7601.828125,6.830361
25%,0.0,59.00000,0.000000,9.467954,0.000000,7611.595703,9.492124
50%,0.0,118.00000,0.396824,9.490320,8.151413,14446.214844,16.398060
75%,0.0,177.00000,0.789581,9.517331,20.748763,27136.277344,30.231651
max,0.0,236.00000,4.654000,11.162753,40.605302,27201.855469,51.768055

In [22]:
ddp_8.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,711.0,711.000000,711.000000,711.000000,711.000000,711.000000,711.000000
mean,0.0,197.000000,0.366235,4.373212,6.188983,22034.118775,10.562194
std,0.0,131.098587,0.706532,0.187282,8.787264,615.524894,8.917862
min,0.0,0.000000,0.000000,1.976474,0.000000,14939.242188,1.976474
25%,0.0,88.500000,0.000000,4.245430,0.000000,21739.402344,4.245729
50%,0.0,177.000000,0.000000,4.353607,0.000000,21739.640625,4.354605
75%,0.0,295.500000,0.635058,4.518171,18.428218,22311.898438,22.970958
max,0.0,473.000000,4.674962,5.814012,37.340506,25707.300781,43.154517

# Model Huge

## Minibatch 64

In [26]:
ddp_2 = pd.read_csv("../log/rank_0_synch_ddp_2_minibatch_64_vit-huge-patch14-224-in21k_model.csv")
ddp_4 = pd.read_csv("../log/rank_0_synch_ddp_4_minibatch_64_vit-huge-patch14-224-in21k_model.csv")

ddp_2["minibatch_time"] = ddp_2["forward_time"] + ddp_2["backward_time"]
ddp_4["minibatch_time"] = ddp_4["forward_time"] + ddp_4["backward_time"]

In [27]:
ddp_2.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,1421.0,1421.000000,1421.000000,1421.000000,1421.000000,1421.000000,1421.000000
mean,0.0,394.111189,1.082876,10.916957,15.670433,26328.707702,26.587389
std,0.0,261.787104,1.167814,0.177472,11.115168,9293.679040,11.119901
min,0.0,0.000000,0.000000,5.044037,0.000000,13201.523438,5.044037
25%,0.0,177.000000,0.000000,10.890625,0.000000,13202.105469,10.945840
50%,0.0,355.000000,0.845921,10.912875,23.205111,32834.242188,34.115430
75%,0.0,591.000000,1.455720,10.947534,23.508337,32915.613281,34.426902
max,0.0,946.000000,4.612998,13.273218,48.283123,34408.441406,61.556341

In [28]:
ddp_4.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,1894.0,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000
mean,0.0,473.000000,0.815103,5.518252,16.315855,29396.645123,21.834107
std,0.0,273.447397,1.126873,0.194975,16.325530,504.963757,16.501066
min,0.0,0.000000,0.000000,4.951481,0.000000,13898.078125,4.951481
25%,0.0,236.250000,0.000000,5.309618,0.000000,29208.421875,5.309706
50%,0.0,473.000000,0.292233,5.584319,16.238721,29208.421875,21.648526
75%,0.0,709.750000,1.237431,5.679535,32.588037,29553.652344,38.282140
max,0.0,946.000000,4.618061,7.827787,50.520484,32509.957031,58.348271

## Minibatch 128

In [23]:
ddp_2 = pd.read_csv("../log/rank_0_synch_ddp_2_minibatch_128_vit-huge-patch14-224-in21k_model.csv")
ddp_4 = pd.read_csv("../log/rank_0_synch_ddp_4_minibatch_128_vit-huge-patch14-224-in21k_model.csv")

ddp_2["minibatch_time"] = ddp_2["forward_time"] + ddp_2["backward_time"]
ddp_4["minibatch_time"] = ddp_4["forward_time"] + ddp_4["backward_time"]

In [24]:
ddp_2.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,711.0,711.000000,711.000000,711.000000,711.000000,711.000000,711.000000
mean,0.0,197.000000,1.364403,20.785521,29.780947,43037.054204,50.566468
std,0.0,131.098587,1.336733,0.479529,21.117676,20241.725000,21.115209
min,0.0,0.000000,0.000000,9.587463,0.000000,14432.292969,15.436259
25%,0.0,88.500000,0.000000,20.759226,0.000000,14469.031250,20.879881
50%,0.0,177.000000,1.128094,20.792885,44.094137,57289.707031,64.855456
75%,0.0,295.500000,2.112211,20.838089,44.831154,57368.970703,65.634148
max,0.0,473.000000,4.625878,23.299074,68.747637,57877.324219,92.046711

In [25]:
ddp_4.describe()

,epoch,batch_id,loss,forward_time,backward_time,peak_memory_usage(MB),minibatch_time
count,948.0,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000
mean,0.0,236.500000,1.020298,10.756124,16.394711,29106.725635,27.150835
std,0.0,136.903935,1.294489,0.315142,16.427210,5477.173344,16.592171
min,0.0,0.000000,0.000000,4.885927,0.000000,23652.347656,4.885927
25%,0.0,118.000000,0.000000,10.594822,0.000000,23652.804688,10.595068
50%,0.0,236.500000,0.612952,10.791182,16.259347,23724.664062,24.310468
75%,0.0,355.000000,1.580521,10.921586,32.717960,34594.558594,43.650971
max,0.0,473.000000,4.613140,12.382788,59.937693,34860.410156,72.320482